# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cextensions
*.so

# Ambientes Virtuais
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Banco de Dados (Específico para o seu projeto)
# O código em main.py cria o arquivo fabtec.db
fabtec.db
*.sqlite3

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# Logs e Dados Temporários
*.log
.cache/
.pytest_cache/
.mypy_cache/
.coverage